extends layout.pug

block content

  article.portfolio-intro

    h1 Greg Hartman, JavaScript Developer - Portfolio

    p Take a look inside to see the projects I have created. I will continually update with my latest work. Thanks for stopping by. 


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.description}`)
            h5= project.project_name